<button
    type="{{ type }}"
    disabled="{{ disabled }}"
    ngClass="{{ getAllClasses() }}"
    class="hover:cursor-pointer uppercase rounded-md"
>
        <ng-content></ng-content>
</button>
<!--  -->
<!-- disabled:opacity-25 -->
<!-- bg-gradient-to-tl from-blue-600 to-sky-400 hover:bg-gradient-to-tl hover:from-sky-500 hover:to-blue-700 active:bg-gradient-to-tl active:from-blue-700 active:to-sky-500 -->
<!-- <button
        class="bg-red-500 text-white active:bg-blue-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
        type="button"
>
        <fa-icon [icon]="faHeart"></fa-icon> Regular
</button>
<button
        class="bg-red-500 text-white active:bg-red-600 font-bold uppercase text-base px-8 py-3 rounded shadow-md hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
        type="button"
>
        <fa-icon [icon]="faHeart"></fa-icon> Large
</button> -->
