<div class="dark p-56 flex-col space-y-8 justify-start items-center bg-zinc-800">
    <div>
        <app-button color="primary" > Boton de prueba</app-button>
        <app-button color="success" size="regular"> Boton de prueba</app-button>    
        <app-button color="warning" size="large"> Boton de prueba</app-button>
    </div>

    <div>
        <app-button variant="outline" color="primary"> Boton de prueba</app-button>
        <app-button variant="outline" color="success" size="regular"> Boton de prueba</app-button>    
        <app-button variant="outline" color="warning" size="large"> Boton de prueba</app-button>
    </div>

    <div>
        <app-button variant="link" color="secondary"> Boton de prueba</app-button>
        <app-button variant="link" color="tertiary" size="regular"> Boton de prueba</app-button>    
        <app-button variant="link" color="info" size="large"> Boton de prueba</app-button>
    </div>
</div>
